.login-page {

  ion-item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    width:80%;
  }

  .login-page-div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;

    font-size: 4.0em;
    text-align: center;
    font-weight: bold;
    color: #9E9E9E;
  }

}
